// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#address-city, #address-state, #address-zip {
  display: inline-block;
}

#address-city, #address-state {
  margin-right: 8px;
}

#address-city {
  width: 310px;
}

#address-state {
  width: 80px;
}

#address-zip {
  width: 100px;
}